
/* Update the header */
h1 {
  text-align: center;
}

/* Center our image */ 
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

/* Jazz up our navigation links */
a {
  padding-left:  10px;
  padding-right: 10px;
  background-color: burlywood;
}

/* Our image caption needs work */
figcaption {
  font-size: 12px;
  text-align: center;
}

/* Update the text block */
#featured-property p {
  width: 800px;
  text-align: center;
  border: solid black;
  margin: 1% auto;
}


/* Make our details section horizontal */
div {
  float:left;
  text-align: center;
  background-color: burlywood;
  width: 25%;
}

/* As a finishing touch */


/* body code */
body {
  width: auto;
  height: auto;
  margin: 0%;
  text-align: center;
}

